{% extends 'layout.html' %}
{% block content %}

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='../static/css/bootstrap.css') }}">

<div class = "row" >
    <h1 style = "font-family: 'Overwatch'"><p class="text-info"><font size = "7">{{data.name}}</font></p></h1>
    <div style="text-align: center;"><img class="" src="../static/media/heroes/{{data.hero_id}}.png" alt="" width="100%" height="100%"> </div>
    <br>
  </div>
  <hr>

<div class="container">
    <div class="row">
    <div class="col"></div>
    <div class="col-6"></div>
    <div class="col"></div>
    </div>

<!-- Player's Stat -->
  <div class = "container-fluid">
    <h1 style = "font-family: 'Overwatch'"><p class="text-info"><font size = "7">Stats</font></p></h1>
    <p style = "font-family: 'Roboto Condensed'" class="text-warning"><font size = "5"><span style="color:orange; font-family: 'Overwatch'">Name: </span><span style="color:white; font-family: 'Overwatch'">{{data.hero_name}}</span></font></p>
    <p style = "font-family: 'Roboto Condensed'" class="text-warning"><font size = "5"><span style="color:orange; font-family: 'Overwatch'">Description:</span><br> <span style="color:white; font-family: 'Overwatch'">{{data.description}}</span></font></p>

    <p style = "font-family: 'Roboto Condensed'" class="text-warning"><font size = "5"><span style="color:orange; font-family: 'Overwatch'">Role: </span> <span style="color:white; font-family: 'Overwatch'">{{data.role}}</span></font></p>

    <p style = "font-family: 'Roboto Condensed'" class="text-warning"><font size = "5"><span style="color:orange; font-family: 'Overwatch'">Abilities: </span><span style="color:white; font-family: 'Overwatch'">{{data.abilities}}</span></font></p>

    <p style = "font-family: 'Roboto Condensed'" class="text-warning"><font size = "5"><span style="color:orange; font-family: 'Overwatch'">Available Achievements:&nbsp; &nbsp;
    {% for item in data.achieve %}
              
      <span style="color:white; font-family: 'Overwatch'">
         <a href = "../achievements/{{item.id}}"><img src="../../media/achievements/{{data.item_id}}" alt=" " width=50 height=50></a> {{item.name}}
           </span>
      </font>
      </p>
      {% endfor %}

	   <p style = "font-family: 'Roboto Condensed'" class="text-warning"><font size = "5"><span style="color:orange; font-family: 'Overwatch'">
     Available Skins: 
     <div class = "row">
           <div class ="col-lg-4 col-sm-6 text-center mb-4">
     {% for item in data.skins %}
       {% if item.skin_id < 1575 or item.skin_id >1586 %}
     <a href = "../skins/{{item.skin_id}}"><span style="color:white; font-family: 'Overwatch'">
        {{item.skin_name}}</a></font></span>
    {% endif %}
    {% endfor %}
    </div>
    </div>
    </p> </span>
  </div>

<span style="color:orange"></span>
{% endblock %}
